# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# ML Model (allow pre-trained models in repository)
# ml/saved_model/

# Databases
*.db
sessions.db
trustguard.db

# Testing & Pickles
.pytest_cache/
*.pkl

# OS Files
Thumbs.db
.DS_Store